* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.widget {
  text-align: center;
}
.btn {
  padding: 8px 12px;
  font-size: 20px;
  cursor: pointer;
}
.timer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.label,
.item {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}

.inp {
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}
.form {
  display: flex;
  gap: 40px;
  align-items: flex-end;
}
button {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
